@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animation-slideInUp {
    animation: slideInUp 0.5s ease-out forwards;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}
.ql-toolbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)); 
  border-bottom: 1px solid #ccc;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s forwards;
}

.animate-slideInLeft {
  animation: slideInLeft 1s forwards;
}

.animate-slideInRight {
  animation: slideInRight 1s forwards;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 2s infinite;
}
